// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Light grey
/// @type Color
$color__light-grey: #777777;

/// White
/// @type Color
$color__white: #ffffff;

/// Default Red
/// @type Color
$color__red: #960001;

/// Default Green
/// @type Color
$color__green: #17b577;