.gdprcono table { 
    width: 80%; 
    max-width: 800px; 
    margin-top: 30px; 
}

.gdprcono th { 
    width: 20%; 
}

.gdprcono td { 
    vertical-align: middle; 
    padding-bottom: 15px; 
}

.gdprcono em { 
    display: block; 
}

.gdprcono .gdprcono__titlesub {
    display: inline-block;
    padding: 10px 15px;
    background-color: #777777;
    color: #ffffff;
    margin-bottom: -10px;
}

.gdprcono .label { 
    display: block; 
    width: 180px; 
    padding: 12px 0; 
    font-size: 16px; 
    text-align: left; 
}

.gdprcono input[type="text"],
.gdprcono textarea,
.gdprcono select { 
    display: block;
    width: 80%; 
    padding: 10px; 
}

.gdprcono select.small {
    width: 120px;
}

.gdprcono textarea {
    min-height: 120px;
}