.gpdrcono-activated {
  /* dialog box */
  /* vendor - switch */
}
.gpdrcono-activated .gdprcono-front__wrapper {
  position: fixed;
  z-index: 1500;
  padding: 20px 20px;
}
.gpdrcono-activated .gdprcono-front__wrapper-top {
  bottom: 0;
  left: 0;
  right: 0;
}
.gpdrcono-activated .gdprcono-front__inner {
  max-width: 710px;
  margin: 0 auto;
  overflow: hidden;
}
.gpdrcono-activated .gdprcono-front__headline-text {
  display: block;
  width: 75%;
  font-size: 14px;
  font-weight: 600;
  color: inherit;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
}
.gpdrcono-activated .gdprcono-front__headline-text a {
  color: inherit;
  text-decoration: underline;
}
.gpdrcono-activated .gdprcono-front__action-button {
  display: block;
  width: 25%;
  text-align: right;
  float: left;
}
.gpdrcono-activated .gdprcono-tab__list {
  padding: 0;
  margin: 0 0 2.3em;
  list-style: none;
}
.gpdrcono-activated .gdprcono-tab__list li {
  cursor: pointer;
  display: inline-block;
  background-color: #ffffff;
  margin: 0 5px;
  padding: 10px 20px 11px 15px;
  border-radius: 15px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}
.gpdrcono-activated .gdprcono-tab__list li img {
  display: inline-block;
  width: 25px;
  vertical-align: middle;
  position: relative;
  top: -3px;
  margin-right: 10px;
}
.gpdrcono-activated .gdprcono-tab__list li img[src*="white"] {
  display: none;
}
.gpdrcono-activated .gdprcono-tab__list li img[src*="dark"] {
  display: inline-block;
}
.gpdrcono-activated .gdprcono-tab__list li:hover, .gpdrcono-activated .gdprcono-tab__list li.active {
  background-color: #960001;
  color: #ffffff;
}
.gpdrcono-activated .gdprcono-tab__list li:hover img[src*="white"], .gpdrcono-activated .gdprcono-tab__list li.active img[src*="white"] {
  display: inline-block;
}
.gpdrcono-activated .gdprcono-tab__list li:hover img[src*="dark"], .gpdrcono-activated .gdprcono-tab__list li.active img[src*="dark"] {
  display: none;
}
.gpdrcono-activated .gdprcono-tab__list li:first-child {
  margin-left: 0;
}
.gpdrcono-activated .gdprcono-tab__list li:last-child {
  margin-right: 0;
}
.gpdrcono-activated .gdprcono-tab__content {
  display: none;
  padding-left: 20px;
}
.gpdrcono-activated .gdprcono-tab__content.active {
  display: block !important;
  overflow: hidden;
}
.gpdrcono-activated .gdprcono-tab__content > h3 {
  display: block;
  margin-bottom: 0.7em;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #2f2f2f;
}
.gpdrcono-activated .gdprcono-tab__content-inner {
  width: 65%;
  max-width: 570px;
  float: left;
  height: 290px;
  overflow: hidden;
  border-bottom: 1px solid #c6c6c6;
  background: #ebebeb;
}
.gpdrcono-activated .gdprcono-tab__content-inner article {
  overflow: auto;
  overflow-x: hidden;
  max-height: 260px;
  padding: 0;
  white-space: pre-line;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
}
.gpdrcono-activated .gdprcono-tab__content-inner article ul,
.gpdrcono-activated .gdprcono-tab__content-inner article ol {
  list-style-type: disc;
  margin: 0 0 0 2rem;
  padding: 0;
}
.gpdrcono-activated .gdprcono-tab__content-inner article strong {
  display: block;
  font-weight: 600;
}
.gpdrcono-activated .gdprcono-tab__content-inner article p {
  display: block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.gpdrcono-activated .gdprcono-tab__content-inner .button {
  cursor: pointer;
  display: inline-block;
  padding: 9px 27px 11px;
  border: 1px solid #960001;
  border-radius: 25px;
  line-height: 1;
  text-decoration: none;
  color: inherit;
}
.gpdrcono-activated .gdprcono-tab__content-inner .button:hover {
  border: 1px solid #ffffff;
  background-color: #960001;
  color: #ffffff;
}
.gpdrcono-activated .gdprcono-tab__content > img {
  width: 35%;
  margin: -40px auto;
  display: block;
}
.gpdrcono-activated .gdprcono-tab__activate-all {
  padding-left: 20px;
}
.gpdrcono-activated .gdprcono-tab__activate-all a {
  display: inline-block;
  padding: 12px 30px 14px;
  margin: 20px auto 0;
  background-color: transparent;
  border: 1px solid #2f2f2f;
  border-radius: 50px;
  color: #2f2f2f;
  text-decoration: none;
  line-height: 1;
}
.gpdrcono-activated .gdprcono-tab__activate-all a:hover {
  background-color: #2f2f2f;
  color: #ffffff;
}
.gpdrcono-activated .gdprcono-tab__activate-all a.savesettings-btn {
  display: none;
}
.gpdrcono-activated #gdprcono-accept-btn,
.gpdrcono-activated #gdprcono-reject-btn {
  background-color: #777777;
  border-radius: 20px;
  padding: 7px 20px 8px;
  border: none;
  font-size: 14px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.gpdrcono-activated #gdprcono-accept-btn:hover, .gpdrcono-activated #gdprcono-accept-btn:hover,
.gpdrcono-activated #gdprcono-reject-btn:hover,
.gpdrcono-activated #gdprcono-reject-btn:hover {
  background-color: #ffffff;
  color: #777777;
}
.gpdrcono-activated .jquery-modal.blocker {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99999;
}
.gpdrcono-activated #gdprcono-modal__main.modal {
  max-width: 1220px;
  padding: 50px 50px 40px;
  background-color: #ebebeb;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.gpdrcono-activated #gdprcono-modal__main.modal a.close-modal {
  top: -25px;
  right: -25px;
  display: block;
  width: 50px;
  height: 50px;
}
.gpdrcono-activated #gdprcono-switch {
  width: 180px;
  height: 40px;
  display: block;
  position: relative;
  margin-bottom: 15px;
}
.gpdrcono-activated .gdprcono-togglefy {
  border: 2px solid #444249;
  border-radius: 20px;
  -webkit-transition: border-color .6s  ease-out;
  transition: border-color .6s  ease-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.gpdrcono-activated .gdprcono-togglefy.toggle-on {
  border-color: rgba(137, 194, 217, 0.4);
  -webkit-transition: all .5s .15s ease-out;
  transition: all .5s .15s ease-out;
}
.gpdrcono-activated .toggle-button {
  position: absolute;
  top: 4px;
  width: 28px;
  bottom: 4px;
  right: 81%;
  background-color: #444249;
  border-radius: 19px;
  cursor: pointer;
  -webkit-transition: all .3s .1s, width .1s, top .1s, bottom .1s;
  transition: all .3s .1s, width .1s, top .1s, bottom .1s;
}
.gpdrcono-activated .toggle-on .toggle-button {
  top: 3px;
  width: 170px;
  bottom: 3px;
  right: 3px;
  border-radius: 23px;
  background-color: #17b577;
  -webkit-box-shadow: 0 0 4px #17b577;
  box-shadow: 0 0 4px #17b577;
  -webkit-transition: all .2s .1s, right .1s;
  transition: all .2s .1s, right .1s;
}
.gpdrcono-activated .toggle-text-on {
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 1;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  color: transparent;
}
.gpdrcono-activated .toggle-on .toggle-text-on {
  color: #ffffff;
  -webkit-transition: color 0.3s 0.15s;
  transition: color 0.3s 0.15s;
}
.gpdrcono-activated .toggle-text-off {
  position: absolute;
  top: 10px;
  bottom: 0;
  right: 16px;
  line-height: 1;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  color: #444249;
}
.gpdrcono-activated .toggle-on .toggle-text-off {
  color: rgba(0, 0, 0, 0);
}
.gpdrcono-activated .glow-comp {
  position: absolute;
  opacity: 0;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border-radius: 6px;
  background-color: rgba(75, 122, 141, 0.1);
  -webkit-box-shadow: 0 0 12px rgba(75, 122, 141, 0.2);
  box-shadow: 0 0 12px rgba(75, 122, 141, 0.2);
  -webkit-transition: opacity 4.5s 1s;
  transition: opacity 4.5s 1s;
}
.gpdrcono-activated .toggle-on .glow-comp {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

@media (max-width: 1368px) {
  .gpdrcono-activated .gdprcono-tab__content-inner {
    width: 55%;
    max-width: 570px;
  }
  .gpdrcono-activated .gdprcono-tab__content > img {
    width: 35%;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  .gpdrcono-activated .gdprcono-tab__content-inner {
    width: 100%;
    max-width: none;
  }
  .gpdrcono-activated .gdprcono-tab__content > img {
    display: none;
  }
  .gpdrcono-activated #gdprcono-modal__main.modal {
    padding: 30px 30px 30px;
  }
  .gpdrcono-activated .gdprcono-tab__activate-all a {
    padding: 10px 30px 11px;
    font-size: 14px;
  }
  .gpdrcono-activated .gdprcono-tab__list li {
    font-size: 17px;
  }
}
@media (max-width: 840px) {
  .gpdrcono-activated .gdprcono-tab__list li {
    font-size: 0;
    padding: 10px 15px 11px 15px;
  }
  .gpdrcono-activated .gdprcono-tab__content {
    padding-left: 0;
  }
  .gpdrcono-activated .gdprcono-tab__activate-all {
    padding-left: 0;
  }
  .gpdrcono-activated .gdprcono-tab__list li img {
    display: inline-block;
    width: 30px;
    vertical-align: middle;
    position: relative;
    top: 0;
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .gpdrcono-activated .gdprcono-front__headline-text {
    width: 100%;
    max-width: none;
    float: none;
    margin-bottom: 10px;
  }
  .gpdrcono-activated .gdprcono-front__headline-text br {
    display: none;
  }
  .gpdrcono-activated .gdprcono-front__action-button {
    display: block;
    width: 100%;
    text-align: center;
    float: none;
  }
}
@media (max-width: 520px) {
  .gpdrcono-activated .gdprcono-tab__content-inner .button {
    padding: 8px 16px 10px;
  }
}

/*# sourceMappingURL=style.css.map */