.gdprcono-front__wrapper {
    position: fixed;
    z-index: 1500;
    padding: 20px 20px;
}

.gdprcono-front__wrapper-top {
    bottom: 0;
    left: 0;
    right: 0;
}

.gdprcono-front__inner {
    max-width: 680px;
    margin: 0 auto;
}

.gdprcono-front__headline-text {
    display: inline-block;
    max-width: 520px;
    vertical-align: top;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}

.gdprcono-front__headline-text a {
    color: inherit;
    text-decoration: underline;
}

#gdprcono-accept-btn,
#gdprcono-reject-btn {
    background-color: #777777;
    border-radius: 20px;
    padding: 7px 20px 8px;
    border: none;
    font-size: 14px;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

#gdprcono-accept-btn:hover,
#gdprcono-reject-btn:hover {
    background-color: #ffffff;
    color: #777777;
}