.gdprcono-front {
    &__wrapper {
        position: fixed;
        z-index: 1500;
        padding: 20px 20px;

        &-top {
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    &__inner {
        max-width: 680px;
        margin: 0 auto;
    }

    &__headline-text {
        display: inline-block;
        max-width: 520px;
        vertical-align: top;
        font-size: 14px;
        font-weight: 600;
        text-align: left;

        a {
            color: inherit;
            text-decoration: underline;
        }
    }
}

.gdprcono-tab {
    &__list {
        padding: 0;
        margin: 0 0 2.3em;
        list-style: none;

        li {
            cursor: pointer;
            display: inline-block;
            background-color: $color__white;
            margin: 0 5px;
            padding: 8px 25px;
            border-radius: 10px;
            font-family: 'Oswald', sans-serif;
            font-size: 20px;
            
            &:hover,
            &.active {
                background-color: #960001;
                color: $color__white;
            }
        }

        li:first-child {
            margin-left: 0;
        }

        li:last-child {
            margin-right: 0;
        }
    }

    &__content {
        display: none;

        &.active {
            display: block !important;
            overflow: hidden;
        }

        & > h3 {
            display: block;
            margin-bottom: 0.7em;
            padding-left: 20px;
            font-family: 'Oswald', sans-serif;
            font-size: 20px;
            font-weight: 400;
            color: #2f2f2f;
        }

        article {
            width: 65%;
            padding: 0;
            margin-left: 20px;
            white-space: pre-line;
            float: left;
            height: 260px;
            border-bottom: 1px solid #c6c6c6;
            box-sizing: border-box;
        }
        
        .button {
            cursor: pointer;
            display: inline-block;
            padding: 9px 27px 11px;
            border: 1px solid #960001;
            border-radius: 25px;
            line-height: 1;
            text-decoration: none;
            color: inherit;
        }
    }
}

#gdprcono-accept-btn,
#gdprcono-reject-btn {
    background-color: $color__light-grey;
    border-radius: 20px;
    padding: 7px 20px 8px;
    border: none;
    font-size: 14px;
    color: $color__white;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:hover {
        background-color: $color__white;
        color: $color__light-grey;
    }
}

/* dialog box */
.jquery-modal {
    &.blocker {
        background-color: rgba( 0, 0, 0, 0.7 );
        z-index: 99999;
    }
}

#gdprcono-modal {
    &__main.modal {
        max-width: 1080px;
        padding: 30px 30px;
        background-color: #ebebeb;
        box-shadow: 0 0 20px rgba( 0, 0, 0, 0.2 );
    }
}